* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: inherit;
}

a {
  display: block;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}
