@import "_reset";
@import "_mixin";

.hidden {
  display: none;
  opacity: 0;
}

body {
  width: 100vw;
  height: 100vh;
}

.main__grid {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template: 1fr 9fr 1fr / 1fr 81.81vh 1fr;

  .main__grid-logo {
    @include border(right);

    .originUrl {
      opacity: 1;
      font-style: 14px;
      &:hover {
        opacity: 0.7;
      }
    }
    .title {
      font-weight: 600;
      cursor: default;
    }
  }

  .main__grid-logo,
  .main__grid-menu {
    font-size: 20px;
    color: #af7832;
    @include flex--center;
  }

  .main__grid-menu {
    grid-column: -1/ -2;
    font-weight: 600;
    @include border(left);

    &:hover {
      background-color: #af7832;
      color: #fff;
    }
    a {
      width: 100%;
      height: 100%;
      @include flex--center;
    }
  }

  .main__grid-buttons {
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    @include border(top);
    @include border(bottom);

    &.main__grid-buttons-l {
      @include border(right);
    }

    &.main__grid-buttons-r {
      @include border(left);
    }

    .grid-button-item {
      @include border(bottom);
      @include flex--center;

      &:last-child {
        border-bottom: none;
      }

      button {
        width: 100%;
        height: 100%;
        color: #af7832;
        font-size: 20px;
        font-weight: 600;
        transition: all 200ms;

        &:hover {
          background-color: #af7832;
          color: #fff;
        }

        &.hover {
          background-color: #af7832;
          color: #fff;
        }
      }
    }
  }

  .main__grid-img {
    width: 100%;
    height: 100%;
    background-color: antiquewhite;
    overflow: hidden;

    @include border(top);
    @include border(bottom);

    .grid-img-list {
      width: 100%;
      height: 100%;
      position: relative;
    }

    .grid-img-item {
      width: 100%;
      height: 100%;
      display: none;
    }

    .grid-img {
      width: 100%;
      height: auto;
    }
  }

  .main__grid-banner {
    grid-column: 2 / 3;
    overflow: hidden;
    position: relative;
    @include flex--center;

    .grid__banner-box {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
    }

    .grid__banner-text {
      white-space: nowrap;
      color: #af7832;
      font-size: 20px;
      text-transform: uppercase;
      letter-spacing: 1px;
      letter-spacing: -0.1px;
      margin-left: 30px;
    }
  }
  .grid__vacant-l {
    @include border(right);
  }
  .grid__vacant-r {
    @include border(left);
  }
}
